table, tr, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

tr, td
{
	border: 1px solid black;
	padding: 3px 5px 3px 5px;
}

.titre_tache
{
	text-align: right;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: orange;
}